main = "index.js"
dev = ["proto", "run", "node", "--", "{main}"]
install = '''
proto install --yes
if [ -f package-lock.json ]; then
  npm ci --omit=dev
else
  npm install --omit=dev
fi
'''
start = ["proto", "run", "node", "--", "{main}"]

[build]
exclude = ["node_modules/"]
install = '''
proto install --yes
if [ -f package-lock.json ]; then
  npm ci
else
  npm install
fi
'''
build = '''
cd "$TAKO_APP_DIR"
npm run --if-present build
'''
targets = ["linux-x86_64-glibc", "linux-aarch64-glibc", "linux-x86_64-musl", "linux-aarch64-musl"]
