---
import DocsLayout from "../../layouts/DocsLayout.astro";
import DeploymentDoc from "../../../../docs/guides/deployment.md";
---
<DocsLayout title="Tako Docs - Deployment" heading="deployment">
  <p>Rendered from: <code>docs/guides/deployment.md</code>.</p>
  <p><a href="/docs">← docs</a></p>
  <DeploymentDoc />
</DocsLayout>
