---
import DocsLayout from "../../layouts/DocsLayout.astro";
import doc from "../../../../docs/guides/deployment.md?raw";
---
<DocsLayout title="Tako Docs - Deployment" heading="deployment">
  <p>Rendered from: <code>docs/guides/deployment.md</code>.</p>
  <p><a href="/docs">← docs</a></p>
  <pre>{doc}</pre>
</DocsLayout>
