---
import DocsLayout from "../../layouts/DocsLayout.astro";
import doc from "../../../../docs/guides/development.md?raw";
---
<DocsLayout title="Tako Docs - Development" heading="development">
  <p>Rendered from: <code>docs/guides/development.md</code>.</p>
  <p><a href="/docs">← docs</a></p>
  <pre>{doc}</pre>
</DocsLayout>
