---
import DocsLayout from "../../layouts/DocsLayout.astro";
import QuickstartDoc from "../../../../docs/guides/quickstart.md";
---
<DocsLayout title="Tako Docs - Quickstart" heading="quickstart">
  <p>Rendered from: <code>docs/guides/quickstart.md</code>.</p>
  <p><a href="/docs">← docs</a></p>
  <QuickstartDoc />
</DocsLayout>
