---
import DocsLayout from "../../layouts/DocsLayout.astro";
import TakoTomlDoc from "../../../../docs/reference/tako-toml.md";
---
<DocsLayout title="Tako Docs - tako.toml" heading="tako.toml">
  <p>Rendered from: <code>docs/reference/tako-toml.md</code>.</p>
  <p><a href="/docs">← docs</a></p>
  <TakoTomlDoc />
</DocsLayout>
