---
import StarIcon from "lucide-astro/Star";
---

<a href="/docs">docs</a>
<a href="/blog">blog</a>
<a href="https://twitter.com/intent/follow?screen_name=lilienblum" target="_blank" rel="noopener noreferrer" class="x-link">𝕏</a>
<a href="https://github.com/lilienblum/tako" target="_blank" rel="noopener noreferrer" class="github-star">
  <StarIcon class="star-icon" aria-hidden="true" focusable="false" />
  <span>github</span>
</a>
